.box-container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: white;
    gap: 30px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: #d4d4d4;
}

.box2-container{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 40px;
    background-color: white;
    gap: 30px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: #d4d4d4;
}

.box {
    background-color: #F7F7F7;
    border-radius: 5px;
    padding: 50px;
    font-size: 15px;
}

.heading-container{
    display: flex;
    flex-direction: row;
    gap: 70%
}

.grey-circle{
    width: 40px;
    height: 40px;
    background-color: #D7D7D7;
    border-radius: 30px;
    text-align: center;
}

.flex-row{
    display: flex; 
    flex-direction: row; 
    gap: 30px;
    text-align: center;
    align-items: center;
}   

.box:last-child {
    margin-right: 0;
}

.header-div{
    text-align: left;
}

.orange_element{
    color: #FF6634;
    font-size: 20px;
}

.orange_numbers {
    color: #FF6634;
    font-size: 30px;
}

.grey-box-container{
    display: flex; 
    gap: 30px
}

@media (max-width: 768px) {
    .box-container {
        flex-direction: column;
        align-items: center;
    }

    .box-container,
    .box2-container {
        width: 300px;
    }

    .box {
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;
    }

    .grey-box-container {
        flex-direction: column;
    }

    .heading-container {
        display: flex;
        flex-direction: row;
        gap: 20%;
    }
}